<div [ngSwitch]="showJHI">
    <div *ngSwitchCase="true">

<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>

    <div class="footer">
        <a (click)="setShowJHI()">setShowJHI()</a>
    </div>

</div>

    </div>
        <div *ngSwitchCase="false">
            <a (click)="setShowJHI()">setShowJHI()</a>
            <jhi-main-edu></jhi-main-edu>
        </div>
</div>
